{% extends "base.html" %}
{% block title %}Produto List{% endblock %}
{% block container %}
<div class="d-flex justify-content-between mb-3">
    <h2>Produto List</h2>
    <a href="{% url 'create' %}" class="btn btn-primary">Cadastro de Produto</a>
</div>

<table class="table table-bordered">
<thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Produto: ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade em estoque</th>
        <th>Data de Criação</th>
        <th>Ações</th>
    </tr>
</thead>
<tbody>
    {% if produtos %}
    {% for produto in produtos %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ produto.produto_id }}</td>
        <td>{{ produto.produto_name }}</td>
        <td>{{ produto.produto_preco }}</td>
        <td>{{ produto.produto_quantidade_estoque }}</td>
        <td>{{ produto.produto_data_criacao }}</td>
        <td>
            <a href="{% url 'update' produto.pk %}" class="btn btn-success btn-sm">Editar</a>

            <!-- Botão que ativa o Modal -->
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ produto.pk }}">
                Excluir
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ produto.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ produto.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ produto.pk }}">Confirmar Exclusão</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja excluir o produto "{{ produto.produto_name }}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <!-- Formulário de Exclusão -->
                            <form action="{% url 'delete' produto.pk %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6" class="text-center">Produto não encontrado ...</td>
    </tr>
    {% endif %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

</tbody>
</table>
{% endblock %}